<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- AdMob 광고 ID 접근 (Android 13+). play-services-ads SDK 가 자동
         머지하지만, 명시적 선언으로 Play Console 데이터 안전 신고와 일관성 확보. -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:label="우리연애"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2707874353926722~8231373721" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Home Widget: Medium (4x2) - D-Day + Mood -->
        <receiver
            android:name=".HMLoveWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_couple_info" />
        </receiver>

        <!-- Home Widget: Small (2x2) - D-Day only -->
        <receiver
            android:name=".HMLoveSmallWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_couple_small_info" />
        </receiver>

        <!-- Home Widget: Calendar (4x4) - Monthly calendar -->
        <receiver
            android:name=".HMLoveCalendarWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_calendar_info" />
        </receiver>

        <!-- Home Widget: Doodle (2x2) - 상대방이 보낸 그림 표시 -->
        <receiver
            android:name=".HMLoveDoodleWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_doodle_info" />
        </receiver>

        <!-- Settings activity for calendar widget (background color/alpha).
             Launched only via PendingIntent created by HMLoveCalendarWidgetProvider,
             which runs with this app's UID, so exported=false is sufficient. -->
        <activity
            android:name=".CalendarWidgetSettingsActivity"
            android:exported="false"
            android:theme="@style/WidgetSettingsDialogTheme"
            android:excludeFromRecents="true" />

        <!-- Kakao SDK: 카카오 로그인 OAuth 콜백 처리.
             scheme 의 'kakao{NATIVE_APP_KEY}' 값을 카카오 디벨로퍼스에서
             발급받은 네이티브 앱 키로 교체할 것 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter android:label="kakao_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="kakaoa7f99dc9e91081d6417e9370e026e076"
                    android:host="oauth" />
            </intent-filter>
        </activity>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="nmap"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="geo"/>
        </intent>
        <!-- Kakao SDK: KakaoTalk 앱 감지 (talk login fallback) -->
        <package android:name="com.kakao.talk" />
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="kakaokompassauth"/>
        </intent>
    </queries>
</manifest>
